@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
}
.add-edit-page form {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  justify-content: space-between;
}
.add-edit-page form textarea {
  margin-top: 8px;
  outline: none;
  font-size: 16px;
}

.add-edit-page form textarea::placeholder {
  font-size: 16px;
}
.filters-block {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.filters-block div {
  margin-right: 5px;
}

.filters-block > div:nth-child(2) {
  width: 150px;
}

.filters-block > div:nth-child(3) {
  width: 150px;
  margin-right: 20px;
}

.products-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.order-button {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.detail-page {
  display: flex;
  flex-wrap: wrap;
}
.detail-left {
  width: 50%;
}
.detail-left img {
  width: 100%;
}
.detail-right {
  width: 50%;
}
.detail-page h3 {
  font-size: 28px;
}
.detail-page li {
  list-style-type: none;
  font-size: 20px;
  margin: 10px 0;
}

@media all and (max-width: 767px) {
  .detail-left {
    width: 100%;
  }
  .detail-right {
    width: 100%;
  }
}
